body{
  background-color:#25064e;
  color:#FFFFFF;
}
header img{
  display:block;
  width:75%;
  height: auto;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2), 0 0 20px 6px rgba(0, 0, 0, 0.19);
}
nav ul{
  list-style-type:none;
  width:100%;
  display:flex;
  justify-content:center;
}
nav li{
  margin:0 10px;
  align-text:center;
}
nav a{
  color:#25064E;
  text-decoration:none;
  background-color:#FFFFFF;
  padding:1rem;
  display:block;
}
a:hover{
  color:#d4b8fa;
  background-color:#25064e;
}
@-ms-viewport{
  width: device-width;
}
#main a{
  color:#d4b8fa;
  font-style:italic;
  text-decoration:none;
}
hr{
  margin:0;
  color:#FFFFFF;
  border-top:1px;
}
